{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ listing.title }}</h2>

    <div>
        {% if user.is_authenticated %}
            <form action="{% url 'watchlist' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="listing_id" value="{{ listing.id }}">
                <button type="submit">
                    {% if listing in user.watchlist.all %}
                        Remove from Watchlist
                    {% else %}
                        Add to Watchlist
                    {% endif %}
                </button>
            </form>
        {% endif %}
    </div>
    
    <div>
        <h3>Image:</h3>
        <img src="{{ listing.image }}" alt="Listing Image">
    </div>

   

    <div>
        <h3>Description:</h3>
        <p>{{ listing.description }}</p>
    </div>

    <div>
        <h3>Price:</h3>
        <p>{{ listing.price }}</p>
    </div>

    <div>
        <h3>Category:</h3>
        <p>{{ listing.category.categoryName }}</p>
    </div>

    <div>
        <h3>Creator:</h3>
        <p>{{ listing.creator.username }}</p>
    </div>

    <div>
        {% if user.is_authenticated and user == listing.creator %}
            <form action="{% url 'closeListing' listing.id %}" method="POST">
                {% csrf_token %}
                <button type="submit">Close Listing</button>
            </form>
        {% endif %}
    </div>

    <div>
        {% if user.is_authenticated %}
            <form action="{% url 'bid' title=listing.title %}" method="POST">
                {% csrf_token %}
                <label for="bid">Place Bid:</label>
                <input type="number" name="bid" required>
                <button type="submit">bid</button>
            </form>
        {% endif %}
    </div>
    {% if bid_success %}
        <p>Gebot erfolgreich abgegeben!</p>
    {% endif %}
{% endblock %}