{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-md-8">
                <h2 class="mb-4">Listing: {{ listing.title }}</h2>

                <div class="mb-3">
                    {% if user.is_authenticated and listing.active%}
                        <form action="{% url 'watchlist' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="listing_id" value="{{ listing.id }}">
                            <button type="submit" class="btn btn-outline-primary">
                                {% if listing in user.watchlist.all %}
                                    Remove from Watchlist
                                {% else %}
                                    Add to Watchlist
                                {% endif %}
                            </button>
                        </form>
                    {% endif %}
                </div>
                
                <div class="mb-3">
                    <h3>Image:</h3>
                    <img src="{{ listing.image }}" alt="Listing Image" class="img-fluid">
                </div>

                <div class="mb-3">
                    <h3>Description:</h3>
                    <p>{{ listing.description }}</p>
                </div>

                <div class="mb-3">
                    <h3>Price:</h3>
                    <p>{{ listing.price }}€</p>
                </div>

                <div class="mb-3">
                    <h3>Category:</h3>
                    <p>{{ listing.category.categoryName }}</p>
                </div>

                <div class="mb-3">
                    <h3>Creator:</h3>
                    <p>{{ listing.creator.username }}</p>
                </div>

                <div class="mb-3">
                    {% if user.is_authenticated and user == listing.creator %}
                        <form action="{% url 'closeListing' listing.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Close Listing</button>
                        </form>
                    {% endif %}
                </div>

                <div class="mb-3">
                    {% if user.is_authenticated and listing.active %}
                        <form action="{% url 'bid' title=listing.title %}" method="POST">
                            {% csrf_token %}
                            <label for="bid" class="form-label" id="Bid">Place Bid:</label>
                            <div class="input-group">
                                <input type="number" name="bid" class="form-control" aria-label="Place Bid">
                                <button type="submit" class="btn btn-primary">Bid</button>
                            </div>
                        </form>
                    {% endif %}
                    
                        {% if messages %}
                            <div class="alert alert-danger" role="alert">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        </div>
                        {% endif %}
                    
                    {% if user.is_authenticated and listing.active %}
                        <form action="{% url 'comment' title=listing.title %}" method="POST">
                            {% csrf_token %}
                            <div class="form-floating mb-3">
                                <textarea class="form-control" name="comments" placeholder="Leave a comment here" id="floatingTextarea" rows="4" required></textarea>
                                <label for="floatingTextarea">Comments</label>
                            </div>
                            <button type="submit" class="btn btn-primary">Add Comment</button>
                        </form>

                        <h3 class="mt-4">Comments:</h3>
                        <ul class="list-group">
                            {% for comment in listing.comment_set.all %}
                                <li>{{ comment.commenter.username }}: {{ comment.comments }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                {% if user.is_authenticated and listing.active == False and user == listing.highestBidder %}
                    <p class="alert alert-success">Congrats! You won the Auction</p>
                {% endif %}
                
                {% if bid_success %}
                    <p class="alert alert-success">Bid successfully placed!</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
