{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% if activeListings %}
    <div class="row">
        {% for listing in activeListings %}
            <div class="card" style="width: 18rem;">
                <img src="{{ listing.image }}" class="card-img-top img-fluid" alt="Listing Image">
                <div class="card-body">
                    <h5 class="card-title"><strong>{{ listing.title }}</strong></h5>
                    <p class="card-text"><strong>Price:</strong> {{ listing.price }}€</p>
                    <p class="card-text"><strong>Description:</strong> {{ listing.description }}</p>
                    <p class="card-text"><strong>Category:</strong> {{ listing.category }}</p>
                    <a href="{% url 'createdPage' title=listing.title %}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <p>No active listings available.</p>
    {% endif %}
{% endblock %}