{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>

    {% if watchlist_items %}
    <div class="row">
        {% for listing in watchlist_items %}
                    <div class="card" style="width: 18rem;">
                    <img src="{{ listing.image }}" class="card-img-top img-fluid" alt="Listing Image">
                    <div class="card-body">
                        <h5 class="card-title"><strong>{{ listing.title }}</strong></h5>
                        <p class="card-text"><strong>Price:</strong> {{ listing.price }}€</p>
                        <p class="card-text"><strong>Description:</strong> {{ listing.description }}</p>
                        <p class="card-text"><strong>Category:</strong> {{ listing.category }}</p>
                        <a href="{% url 'createdPage' title=listing.title %}" class="btn btn-primary">View Listing</a>
                    </div>
                </div>
        {% endfor %}
    </div>
    {% else %}
        <p>No items in the watchlist.</p>
    {% endif %}
{% endblock %}
